<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SB INFOTECH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark sb-bg position-sticky top-0" data-mdb-animation-on-scroll="repeat">
        <div class="container">
            @Html.ActionLink("SB INFOTECH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button id="btn" type="button" class="navbar-toggler" data-bs-toggle="collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 mynav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div class="d-none d-lg-none d-md-none my-nav" id="drdn">
                <ul class="d-flex flex-column sb-bg navbar-nav text-white">
                    <li class="px-2">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="px-2">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="px-2">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content px-4 py-1">
        @RenderBody()
        <hr />
        <footer id="footer" class="footer sb-bg text-white">

            <div class="container footer-top">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <span class="sitename">SB INFOTECH</span>
                        </a>
                        <div class="footer-contact pt-3">
                            <p>Chitalo</p>
                            <p>India, PIN 750062</p>
                            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                            <p><strong>Email:</strong> <span>sbinfotech@gmail.com</span></p>
                        </div>
                        <div class="social-links d-flex mt-4">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><a href="#">DotNet Framework</a></li>
                            <li><a href="#">C Sharp</a></li>
                            <li><a href="#">React JS</a></li>
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Core MVC</a></li>
                        </ul>
                    </div>

                    

                </div>
            </div>

            <div class="container copyright text-center mt-4">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">SB Infotech</strong> <span>All Rights Reserved</span></p>
                <div class="credits">
                    
                    Designed by SB INFOTECH STUDENTS Directed By Snehalata Debata
                </div>
            </div>

        </footer>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Script.js"></script>
</body>
</html>
